html {
  background: #fcf9f6;
}

.navbar {
  text-align: center;
  list-style: none;
}
.navbar ul li {
  font-family: "Spectral", serif;
  list-style: none;
  display: inline-block;

  /* font-family: 'Playfair Display SC', serif; */
  /* font-family: 'Playfair Display SC', serif; Regular 400 italic */
}
.navbar ul {
  text-align: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  nav ul {
    font-size: 9px;
  }
}
.navbar a {
  text-decoration: none;
  font-size: 18px;
  color: #3a3b3c;
  text-transform: uppercase;
}

.nav {
  position: relative;
}

.hero {
  text-align: center;
  justify-content: center;
  display: block;
  /* padding-top: 80px; */
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 90px;
  color: #3a3b3c;
  font-family: "Playfair Display SC", serif;
  /* word-spacing: 80px; */
}
/* @media screen and (max-width: 800px) {
  .hero {
    height: 300px;
  }
} */

.heroImg {
  width: 100%;

  /* height: auto; */
}
.topPickWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
}

.ourPicks {
  align-items: center;
  display: flex;
  justify-content: center;
}
.card {
  width: 300px;
  height: 280px;
  padding: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
}
.card * {
  transition: 0.3s ease all;
}
.card .focus-content {
  display: block;
  padding: 8px 12px;
}
.card:hover img,
.card:focus-within img {
  margin-top: -80px;
}
.card p {
  margin: 0;
  line-height: 1.5;
  color: #3a3b3c;
}
.card .focus-content {
  display: block;
  padding: 8px 12px;
}

.card img {
  margin: 0;
  width: 200px;
  height: 224px;
  object-fit: cover;
  display: block;
}
.footer {
  align-items: center;
  display: flex;
  justify-content: center;
}
