.navbar {
  list-style: none;
  text-align: center;
  display: grid;
  grid-auto-flow: column;
}
.navbar li {
  font-family: "Spectral", serif;
  /* font-family: 'Playfair Display SC', serif; */
  /* font-family: 'Playfair Display SC', serif; Regular 400 italic */
}

.navbar a {
  text-decoration: none;
  font-size: 18px;
  color: #3a3b3c;
  width: 300px;
}
