html {
  background: #fcf9f6;
}

.navbar {
  text-align: center;
  list-style: none;

  /*   ;
  text-align: center;
  grid-auto-flow: column; */
}
.navbar ul li {
  font-family: "Spectral", serif;
  list-style: none;
  display: inline-block;

  /* font-family: 'Playfair Display SC', serif; */
  /* font-family: 'Playfair Display SC', serif; Regular 400 italic */
}
.navbar ul {
  /* text-align: right; */
  text-align: center;
}
@media screen and (max-width: 768px) {
  nav ul {
    font-size: 9px;
  }
}
.navbar a {
  text-decoration: none;
  font-size: 18px;
  color: #3a3b3c;
  text-transform: uppercase;
}
/* .navbar ul li:nth-child(1) {
  float: left;
}
.navbar ul li:nth-child(2) {
  float: left;
}

.logoArea {
  width: 100%;
  position: absolute;
  left: 30%;
} */
.nav {
  position: relative;
}

.hero {
  text-align: center;
  justify-content: center;
  display: block;
  padding-top: 80px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 90px;
  height: 500px;
  font-family: "Playfair Display SC", serif;
  word-spacing: 20px;
}
.ourPicks {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}
